body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:21px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u863 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u864 {
  position:absolute;
  left:0px;
  top:23px;
  width:21px;
  height:17px;
}
#u865 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u866 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u867 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
