body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:40px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u972 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:24px;
}
#u973 {
  position:absolute;
  left:36px;
  top:16px;
  width:4px;
  height:24px;
}
#u974 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
