body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:48px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:37px;
}
#u1021 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:37px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:27px;
}
#u1023 {
  position:absolute;
  left:7px;
  top:10px;
  width:34px;
  height:27px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
