body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:21px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u873 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:14px;
}
#u874 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:14px;
}
#u875 {
  position:absolute;
  left:2px;
  top:-1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:26px;
}
#u876 {
  position:absolute;
  left:0px;
  top:14px;
  width:21px;
  height:26px;
}
#u877 {
  position:absolute;
  left:2px;
  top:5px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
