body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:46px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u904 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
