body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:40px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2048 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:5px;
}
#u2049 {
  position:absolute;
  left:6px;
  top:16px;
  width:28px;
  height:5px;
}
#u2050 {
  position:absolute;
  left:2px;
  top:-6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2051 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2052 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
