body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:133px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u928 {
  position:absolute;
  left:97px;
  top:245px;
  width:36px;
  height:36px;
}
#u929 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
