body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:40px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1775 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u1776 {
  position:absolute;
  left:14px;
  top:14px;
  width:13px;
  height:13px;
}
#u1777 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u1778 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u1779 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
