body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:30px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u638 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u639 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
