body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:21px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u831 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u832 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u833 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u834 {
  position:absolute;
  left:0px;
  top:22px;
  width:21px;
  height:18px;
}
#u835 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
