body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:40px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u986 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u987 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u988 {
  position:absolute;
  left:0px;
  top:10px;
  width:40px;
  height:30px;
}
#u989 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
