body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1736 {
  position:absolute;
  left:144px;
  top:332px;
  width:36px;
  height:36px;
}
#u1737 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
