body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:64px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u251 {
  position:absolute;
  left:0px;
  top:13px;
  width:16px;
  height:16px;
}
#u252 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u253 {
  position:absolute;
  left:14px;
  top:0px;
  width:16px;
  height:16px;
}
#u254 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u255 {
  position:absolute;
  left:34px;
  top:0px;
  width:16px;
  height:16px;
}
#u256 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u257 {
  position:absolute;
  left:48px;
  top:13px;
  width:16px;
  height:16px;
}
#u258 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
}
#u259 {
  position:absolute;
  left:6px;
  top:24px;
  width:51px;
  height:37px;
}
#u260 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
