body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:49px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
}
#u1659 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
}
#u1660 {
  position:absolute;
  left:2px;
  top:5px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
