body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:48px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:37px;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:37px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u1013 {
  position:absolute;
  left:9px;
  top:14px;
  width:30px;
  height:23px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
