body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:34px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
}
#u1237 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
}
#u1238 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
