body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:198px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1408 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u1409 {
  position:absolute;
  left:172px;
  top:298px;
  width:13px;
  height:13px;
}
#u1410 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u1411 {
  position:absolute;
  left:158px;
  top:284px;
  width:40px;
  height:36px;
}
#u1412 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
