body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:129px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:44px;
}
#u1431 {
  position:absolute;
  left:93px;
  top:216px;
  width:36px;
  height:44px;
}
#u1432 {
  position:absolute;
  left:2px;
  top:14px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
