body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:124px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
}
#u1441 {
  position:absolute;
  left:88px;
  top:167px;
  width:36px;
  height:20px;
}
#u1442 {
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
