body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:63px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u590_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u590 {
  position:absolute;
  left:0px;
  top:1px;
  width:63px;
  height:63px;
}
#u591 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
