body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:152px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:36px;
}
#u1455 {
  position:absolute;
  left:124px;
  top:367px;
  width:28px;
  height:36px;
}
#u1456 {
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
