body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:181px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1559 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u1560 {
  position:absolute;
  left:155px;
  top:404px;
  width:13px;
  height:13px;
}
#u1561 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1562 {
  position:absolute;
  left:169px;
  top:386px;
  width:12px;
  height:12px;
}
#u1563 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u1564 {
  position:absolute;
  left:141px;
  top:390px;
  width:40px;
  height:36px;
}
#u1565 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
