body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:52px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:40px;
}
#u1042 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:40px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:12px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
}
#u1044 {
  position:absolute;
  left:10px;
  top:16px;
  width:32px;
  height:24px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
