body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:116px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u1543 {
  position:absolute;
  left:74px;
  top:538px;
  width:42px;
  height:42px;
}
#u1544 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
