body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:44px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2014 {
  position:absolute;
  left:25px;
  top:13px;
  width:5px;
  height:5px;
}
#u2015 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2016 {
  position:absolute;
  left:15px;
  top:13px;
  width:5px;
  height:5px;
}
#u2017 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:36px;
}
#u2018 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:36px;
}
#u2019 {
  position:absolute;
  left:2px;
  top:10px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
