body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:48px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1141 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u1142 {
  position:absolute;
  left:6px;
  top:0px;
  width:36px;
  height:34px;
}
#u1143 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:8px;
}
#u1144 {
  position:absolute;
  left:0px;
  top:40px;
  width:48px;
  height:8px;
}
#u1145 {
  position:absolute;
  left:2px;
  top:-4px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
