body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:52px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
}
#u1037 {
  position:absolute;
  left:14px;
  top:22px;
  width:24px;
  height:18px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:1px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:40px;
}
#u1039 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:40px;
}
#u1040 {
  position:absolute;
  left:2px;
  top:12px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
