body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:21px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u858 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u859 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u860 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u861 {
  position:absolute;
  left:0px;
  top:25px;
  width:21px;
  height:15px;
}
#u862 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
