body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:21px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u826 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u828 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
}
#u829 {
  position:absolute;
  left:0px;
  top:26px;
  width:21px;
  height:14px;
}
#u830 {
  position:absolute;
  left:2px;
  top:-1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
