body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:35px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u451 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u452 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
