body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:119px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u1382 {
  position:absolute;
  left:81px;
  top:159px;
  width:38px;
  height:38px;
}
#u1383 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
