body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:32px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u700 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u701 {
  position:absolute;
  left:0px;
  top:23px;
  width:9px;
  height:9px;
}
#u702 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:33px;
}
#u703 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:33px;
}
#u704 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
