body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:44px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u1934 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u1935 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
