body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:39px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
}
#u1737 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
}
#u1738 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
