body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:216px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:24px;
}
#u1541 {
  position:absolute;
  left:172px;
  top:489px;
  width:44px;
  height:24px;
}
#u1542 {
  position:absolute;
  left:2px;
  top:4px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
