body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:258px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u140 {
  position:absolute;
  left:222px;
  top:236px;
  width:36px;
  height:36px;
}
#u141 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
