body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:40px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u927 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u928 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u929 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u930 {
  position:absolute;
  left:0px;
  top:10px;
  width:30px;
  height:30px;
}
#u931 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
