body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:40px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u642 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u643 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
