body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:133px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:42px;
}
#u1519 {
  position:absolute;
  left:94px;
  top:406px;
  width:39px;
  height:42px;
}
#u1520 {
  position:absolute;
  left:2px;
  top:13px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
