body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:169px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
}
#u1461 {
  position:absolute;
  left:129px;
  top:368px;
  width:40px;
  height:24px;
}
#u1462 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
