body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:21px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u878 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u880 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:28px;
}
#u881 {
  position:absolute;
  left:0px;
  top:12px;
  width:21px;
  height:28px;
}
#u882 {
  position:absolute;
  left:2px;
  top:6px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
