body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:40px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u975 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u977 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
}
#u978 {
  position:absolute;
  left:0px;
  top:16px;
  width:40px;
  height:24px;
}
#u979 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
