body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:21px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u868 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u870 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u871 {
  position:absolute;
  left:0px;
  top:18px;
  width:21px;
  height:22px;
}
#u872 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
