body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:40px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u960 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u961 {
  position:absolute;
  left:0px;
  top:16px;
  width:24px;
  height:24px;
}
#u962 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
