body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:41px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:64px;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:64px;
}
#u241 {
  position:absolute;
  left:2px;
  top:24px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
