body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:187px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
}
#u1376 {
  position:absolute;
  left:161px;
  top:344px;
  width:26px;
  height:36px;
}
#u1377 {
  position:absolute;
  left:2px;
  top:10px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
