body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:28px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:40px;
}
#u1711 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:40px;
}
#u1712 {
  position:absolute;
  left:2px;
  top:12px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
