body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:36px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:38px;
}
#u2061 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:38px;
}
#u2062 {
  position:absolute;
  left:2px;
  top:11px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
