body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:34px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:36px;
}
#u1902 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:36px;
}
#u1903 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
