body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:168px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1533 {
  position:absolute;
  left:128px;
  top:559px;
  width:40px;
  height:40px;
}
#u1534 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
