body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:15px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u1297 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u1298 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
