body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:28px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u1229 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
