body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:146px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1467 {
  position:absolute;
  left:106px;
  top:327px;
  width:40px;
  height:40px;
}
#u1468 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
