body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:40px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u965 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u966 {
  position:absolute;
  left:0px;
  top:10px;
  width:30px;
  height:30px;
}
#u967 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
