body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:214px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u1535 {
  position:absolute;
  left:172px;
  top:493px;
  width:42px;
  height:42px;
}
#u1536 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
