body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:128px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u1445 {
  position:absolute;
  left:84px;
  top:306px;
  width:44px;
  height:44px;
}
#u1446 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
