body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1898 {
  position:absolute;
  left:144px;
  top:95px;
  width:36px;
  height:36px;
}
#u1899 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
