body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:36px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1337 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:4px;
}
#u1338 {
  position:absolute;
  left:10px;
  top:25px;
  width:22px;
  height:4px;
}
#u1339 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u1340 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u1341 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
