body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:154px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:48px;
}
#u1413 {
  position:absolute;
  left:126px;
  top:335px;
  width:28px;
  height:48px;
}
#u1414 {
  position:absolute;
  left:2px;
  top:16px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
