body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:21px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:41px;
}
#u889 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:41px;
}
#u890 {
  position:absolute;
  left:2px;
  top:12px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
