body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:205px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u1489 {
  position:absolute;
  left:161px;
  top:459px;
  width:44px;
  height:44px;
}
#u1490 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
