body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:113px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1527 {
  position:absolute;
  left:77px;
  top:404px;
  width:36px;
  height:36px;
}
#u1528 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
