body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:21px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u821 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:10px;
}
#u822 {
  position:absolute;
  left:0px;
  top:30px;
  width:21px;
  height:10px;
}
#u823 {
  position:absolute;
  left:2px;
  top:-3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u824 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u825 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
