body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:22px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:28px;
}
#u1137 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:28px;
}
#u1138 {
  position:absolute;
  left:2px;
  top:6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
