body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:48px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u932 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:37px;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:37px;
}
#u934 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:27px;
}
#u935 {
  position:absolute;
  left:7px;
  top:10px;
  width:34px;
  height:27px;
}
#u936 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
