body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:59px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:64px;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:64px;
}
#u231 {
  position:absolute;
  left:2px;
  top:24px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
