body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:108px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1728 {
  position:absolute;
  left:72px;
  top:237px;
  width:36px;
  height:36px;
}
#u1729 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
