body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:32px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:39px;
}
#u2067 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:39px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:12px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
