body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:165px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:26px;
}
#u1471 {
  position:absolute;
  left:127px;
  top:333px;
  width:38px;
  height:26px;
}
#u1472 {
  position:absolute;
  left:2px;
  top:5px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
